<div class="footer-container">
  <footer class="page-footer" style="background-color: #78B5CA">
    <div class="footer-copyright">
      <div class="container">
        Castle Rock Community Church &nbsp;&nbsp;&nbsp;
        <i class="small material-icons vertical_aligned">phonelink_ring</i>
        <span><%= get_contact('Info Desk').primary_phone %></span>
        &nbsp;&nbsp;&nbsp;
        <i class="small material-icons vertical_aligned">email</i>
        <span><%= get_contact('Info Desk').primary_email %></span>
        <span class="righted"><%= image_tag "instagram.svg", size: "50x50", class: "social_static" %></span>
        <span class="righted"><%= image_tag "twitter.svg", size: "50x50", class: "social_static" %></span>
        <span class="righted"><%= image_tag "facebook.svg", size: "50x50", class: "social_static" %></span>
      </div>
    </div>
  </footer>
</div>
