
<% if can? :save_html_content, WelcomeContent %>
  <div id="wysihtml-toolbar" style="display: none;">
    <%= render partial: "shared/wysihtml_toolbar" %>
  </div>
  <div id="wysihtml-textarea" style="outline:none">
    <%= raw(@content.html_content) %>
  </div>
  <div id="html_content_save" style="display: inline-block; width: 100px; height: 36px;"><a class="waves-effect waves-light btn lefted">Save</a></div>
  <div style="position: relative; display: inline-block; top: -5px; left: 20px">
    <div class="whisper">Last Modified:</div>
    <div class="whisper" style="clear: both" ><%= @content.last_modified_by %> | <%= Time.zone.parse("#{@content.last_modified_date}").strftime("%b %e, %Y %l:%M:%S %p") %></div>
  </div>
<% else %>
  <div style="outline:none">
    <%= raw(@content.html_content) %>
  </div>
<% end %>


<script type="text/javascript">
  var editor = new wysihtml5.Editor("wysihtml-textarea", { // id of textarea element
    toolbar:      "wysihtml-toolbar", // id of toolbar element
    parserRules:  wysihtml5ParserRules, // defined in parser rules set
    stylesheets: ["<%= j( asset_path("application.css") ) %>"]
  });

  $('#html_content_save').on('click', function(){
    var html_content = $('#wysihtml-textarea').html();
    var page_name = "<%= j(action_name) %>";

    $.ajax({
      url: "<%= j(save_html_content_ministries_path) %>",
      method: 'PUT',
      data: { page_name: page_name, html_content: html_content },
      dataType: 'script',
      success: function(){
        Materialize.toast('Saved!', 2000);
      },
      error: function(){
        Materialize.toast('Unable to Save :(', 4000);
      }
    })
  })
</script>