
<ul id="nav_dropdown_info" class="dropdown-content">
  <li><a href="#modal_learn_more" class="modal-trigger" style="color: #353535">Mission</a></li>
  <li class="divider"></li>
  <li><%= link_to "Staff & Personnel", staff_welcome_index_path, style: "color: #353535"%></li>
  <li class="divider"></li>
  <li><%= link_to "Statement of Faith", statement_of_faith_welcome_index_path, style: "color: #353535"%></li>
</ul>

<ul id="nav_dropdown_get_involved" class="dropdown-content">
  <li><a href="#" style="color: #353535">Prayer</a></li>
  <li class="divider"></li>
  <li><a href="#" style="color: #353535">Attend Launch</a></li>
  <li class="divider"></li>
  <li><a href="#" style="color: #353535">Giving</a></li>
  <% if !user_signed_in? %>
    <li class="divider"></li>
    <li id="sign_up"><a href="#modal_sign_up" class="modal-trigger" style="color: #353535">Sign Up</a></li>
  <% end %>
</ul>

<div class="navbar-fixed">
  <nav class="crcc-white" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to "CRCC", root_path, id: "logo-container", class: "brand-logo crcc-black-text", style: "font-family: 'Sansita One', cursive; color: #353535" %>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#" style="color: #353535" data-activates="nav_dropdown_info">About<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><%= link_to "Sermons", sermons_welcome_index_path, style: "color: #353535"%></li>
        <li><%= link_to "Events", events_welcome_index_path, style: "color: #353535"%></li>
        <li><a class="dropdown-button" href="#" style="color: #353535" data-activates="nav_dropdown_get_involved">Get Involved<i class="material-icons right">arrow_drop_down</i></a></li>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.first_name %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <li><a href="#modal_log_in" class="modal-trigger" style="color: #353535">Log In</a></li>
        <% end %>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="side-nav">
        <li>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" style="color: #353535"><i class="material-icons">keyboard_arrow_right</i>About</div>
              <div class="collapsible-body" style="color: #353535">
              <ul>
                <li><a href="#modal_learn_more" class="modal-trigger" style="color: #353535">Mission</a></li>
                <li class="divider"></li>
                <li><%= link_to "Staff & Personnel", staff_welcome_index_path, style: "color: #353535"%></li>
                <li class="divider"></li>
                <li><%= link_to "Statement of Faith", statement_of_faith_welcome_index_path, style: "color: #353535"%></li>
              </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="#!" style="color: #353535">Sermons</a></li>
        <li><a href="#!" style="color: #353535">Events</a></li>
        <li>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" style="color: #353535"><i class="material-icons">keyboard_arrow_right</i>Get Involved</div>
              <div class="collapsible-body" style="color: #353535">
                <ul>
                  <li><a href="#" style="color: #353535">Prayer</a></li>
                  <li class="divider"></li>
                  <li><a href="#" style="color: #353535">Attend Launch</a></li>
                  <li class="divider"></li>
                  <li><a href="#" style="color: #353535">Giving</a></li>
                  <% if !user_signed_in? %>
                    <li class="divider"></li>
                    <li id="sign_up"><a href="#modal_sign_up" class="modal-trigger" style="color: #353535">Sign Up</a></li>
                  <% end %>
                </ul>
              </div>
            </li>
          </ul>
        </li>


      </ul>

    </div>
  </nav>
</div>