
<ul id="nav_dropdown_info" class="dropdown-content">
  <li><a href="#modal_learn_more" class="modal-trigger" style="color: #353535">Mission</a></li>
  <li class="divider"></li>
  <li><%= link_to "Staff", staff_welcome_index_path, style: "color: #353535"%></li>
  <li class="divider"></li>
  <li><%= link_to "Declaration of Faith", declaration_of_faith_welcome_index_path, style: "color: #353535"%></li>
</ul>

<ul id="nav_dropdown_get_involved" class="dropdown-content">
  <!--<li><a href="#" style="color: #353535">Prayer</a></li>-->
  <li class="divider"></li>
  <!--<li><a href="#" style="color: #353535">Attend Launch</a></li>-->
  <li class="divider"></li>
  <!--<li><a href="#" style="color: #353535">Giving</a></li>-->
  <% unless user_signed_in? %>
    <li class="divider"></li>
    <li id="sign_up"><a href="#modal_sign_up" class="modal-trigger" style="color: #353535">Sign Up</a></li>
  <% end %>
</ul>

<ul id="nav_dropdown_logged_in" class="dropdown-content">
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'%></li>
</ul>

<div class="navbar-fixed">
  <nav class="crcc-white" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to image_tag("CRCC_Orange_Pinstripe.svg", size: "200x55", class: "brand-logo"), root_path, id: "logo-container" %>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#" style="color: #353535" data-activates="nav_dropdown_info">About<i class="material-icons right">arrow_drop_down</i></a></li>
        <!--<li><%#= link_to "Sermons", sermons_welcome_index_path, style: "color: #353535"%></li>-->
        <li><%= link_to "Events", events_welcome_index_path, style: "color: #353535"%></li>
        <% unless user_signed_in? %>
          <li><a class="dropdown-button" href="#" style="color: #353535" data-activates="nav_dropdown_get_involved">Get Involved<i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
        <% if user_signed_in? %>
          <li><a class="dropdown-button" href="#" style="color: #353535" data-activates="nav_dropdown_logged_in">
            Logged in as <strong><%= current_user.first_name %></strong><i class="material-icons right">arrow_drop_down</i></a>
          </li>
          <li>

          <%= link_to '<i class="material-icons large">account_circle</i>'.html_safe, user_path(current_user.id), style: "color: #353535", remote: true %>
          </li>
          <% if can? :manage, User %>
            <li>
              <%= link_to '<i class="large material-icons" style="color: #353535">dashboard</i>'.html_safe, dashboards_path, style: "color: #353535"%>
            </li>
          <% end %>
        <% else %>
          <li><a href="#modal_log_in" class="modal-trigger" style="color: #353535">Log In</a></li>
        <% end %>
      </ul>





      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="side-nav">
        <li>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" style="color: #353535"><i class="material-icons">keyboard_arrow_right</i>About</div>
              <div class="collapsible-body" style="color: #353535">
              <ul>
                <li><a href="#modal_learn_more" class="modal-trigger" style="color: #353535">Mission</a></li>
                <li class="divider"></li>
                <li><%= link_to "Staff", staff_welcome_index_path, style: "color: #353535"%></li>
                <li class="divider"></li>
                <li><%= link_to "Declaration of Faith", declaration_of_faith_welcome_index_path, style: "color: #353535"%></li>
              </ul>
              </div>
            </li>
          </ul>
        </li>
        <!--<li><a href="#!" style="color: #353535">Sermons</a></li>-->
        <li><%= link_to "Events", events_welcome_index_path, style: "color: #353535"%></li>
        <li>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" style="color: #353535"><i class="material-icons">keyboard_arrow_right</i>Get Involved</div>
              <div class="collapsible-body" style="color: #353535">
                <ul>
                  <!--<li><a href="#" style="color: #353535">Prayer</a></li>-->
                  <!--<li class="divider"></li>-->
                  <!--<li><a href="#" style="color: #353535">Attend Launch</a></li>-->
                  <!--<li class="divider"></li>-->
                  <!--<li><a href="#" style="color: #353535">Giving</a></li>-->
                  <% if !user_signed_in? %>
                    <li class="divider"></li>
                    <li id="sign_up"><a href="#modal_sign_up" class="modal-trigger" style="color: #353535">Sign Up</a></li>
                  <% end %>
                </ul>
              </div>
            </li>
          </ul>
        </li>


      </ul>

    </div>
  </nav>
</div>