
<div id="modal_sign_up" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">

      <%= form_for User.new, url: {controller: "users", action: 'create'}, html: {class: 'col s12'} do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "validate", required: true %>
          </div>
          <div class="input-field col s6">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "validate", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email %>
            <%= f.text_field :email, class: "validate", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :password %>
            <%= f.text_field :password, class: "validate", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            By the way, I'm a<br>
            <%= f.radio_button(:gender, "male") %>
            <%= f.label(:gender_male, "Guy") %>
            <%= f.radio_button(:gender, "female") %>
            <%= f.label(:gender_female, "Girl") %>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= f.check_box(:send_emails, class: "filled-in") %>
            <%= f.label(:send_emails, "Keep me in the loop with important happenings, notifications and such (you can switch it off later too)") %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col s4 offset-s4 center-align">
            <%= content_tag :button, type: :submit, id: "sign_up_submit", class: "btn waves-effect waves-light" do %>
              Submit
              <i class="material-icons right">send</i>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
  </div>
</div>