<%= render partial: "modals/all" %>

<div class="container">
  <div class="section">

    <h3 class="center-align">Get Involved</h3>
    <br>

    <div class="row">
      <p style="text-align: center; font-size: 20px">
        We have a variety of ministries for you to participate in at CRCC. Our desire is
        for men, women, teens and children to find authentic relationships with one
        another, where they can thrive in God’s Kingdom. Click the ministry below you
        would like to learn more about.
      </p>
    </div>

    <div class="row">
      <a href="/ministries/life_groups">
        <div class="col s12 m6 l4 offset-l2"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/life_group_ministry_logo.png", class: "ministry-grid") %></div></div>
      </a>
      <a href="/ministries/mens">
        <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/mens_ministry_logo.png", class: "ministry-grid") %></div></div>
      </a>
    </div>
    <div class="row">
      <a href="/ministries/womens">
        <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/womens_ministry_logo.png", class: "ministry-grid") %></div></div>
      </a>
      <a href="/ministries/youth">
        <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/youth_ministry_logo.png", class: "ministry-grid") %></div></div>
      </a>
      <a href="/ministries/childrens">
        <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/childrens_ministry_logo.png", class: "ministry-grid") %></div></div>
      </a>
    </div>
    <div class="row">
      <a href="/ministries/worship_arts">
        <div class="col s12 m6 l4 offset-l2"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/worship_arts_ministry_logo.png", class: "ministry-grid") %></div></div>
      </a>
      <a href="/ministries/missions">
        <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/missions_ministry_logo.png", class: "ministry-grid") %></div></div>
      </a>
    </div>

  </div>
</div>
