<%= render partial: "modals/all" %>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="hero-buffer"></div>
      <h1 class="header center valign-wrapper" style="width: 100%; height: 50%; max-height: 400px; vertical-align: middle"><%= image_tag("CRCC_Orange_Pinstripe.svg", style: "width: 100%; height: 50%; max-height: 400px", class: "brand-logo") %></h1>
      <div class="row center">
        <h5 class="header col s12 light crcc-brown-text"></h5>
      </div>
      <div class="row center">
        <a href="#modal_learn_more" id="learn_more_button" class="btn-large waves-effect waves-light modal-trigger" style="background-color: #AAA">Learn More</a>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("sun_mountain_light.jpg", alt: "Sunrise") %>
  </div>
</div>

<div class="section service_time_strip">
  <h3>Upcoming Services</h3>
  <br>
  <span class="specifics">Sunday June 12th, 2016</span>
  <br>
  <span class="specifics_sm">10am - 11:30am</span>
  <br><br>
  <h3>Location</h3>
  <br>
  <span class="specifics">1103 Canyon Dr, Castle Rock, Colorado 80104</span>
</div>

<div class="section">
  <div class="slider_box_wrapper">
    <div class="row">
      <div class="col s12 center">

        <div class="aspect_wrapper">
          <div class="aspect_main">
            <div class="crcc_main_slider">
              <div class="slider_content event1"></div>
              <div class="slider_content event2"></div>
              <div class="slider_content event3"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<br><br>

<div class="section">
  <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m3">
      <a href="<%= new_here_welcome_index_path %>" class="modal-trigger" style="color: #353535">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">stars</i></h2>
          <h5 class="center">New Here?</h5>

          <p class="light">
            We would love for you to know a little more about our Church - from what to expect
            on a Sunday morning, to how to get connected with others in this community.
          </p>
        </div>
      </a>
    </div>

    <div class="col s12 m3">
      <a href="<%= events_welcome_index_path %>" style="color: #353535">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">event</i></h2>
          <h5 class="center">Upcoming Events</h5>

          <p class="light">
            Monthly Worship Services and community events are beginning this June. For
            updates about these events and other ministry specific activities, sign up here.
          </p>
        </div>
      </a>
    </div>

    <div class="col s12 m3">
      <a href="<%= get_involved_welcome_index_path %>" style="color: #353535">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">group</i></h2>
          <h5 class="center">Get Involved</h5>

          <p class="light">
            Our desire is for men, women, teens and children to find authentic relationships
            with one another, where they can thrive in God’s Kingdom.
          </p>
        </div>
      </a>
    </div>

    <div class="col s12 m3">
      <a href="<%= serve_welcome_index_path %>" style="color: #353535">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">event_available</i></h2>
          <h5 class="center">Serve</h5>

          <p class="light">
            Opportunities to demonstrate the heart of Christ are ever growing in our
            community. We encourage you to explore where your gifts and talents can be
            uniquely used to bless others around you.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
<br><br>

<div class="section declaration_of_faith">
  <div class="container">
    <h1 class="header center crcc-black-text"><b>Declaration of Faith</b></h1>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <a href="#modal_faith_origins" class="statement_btn modal-trigger">
        <div class="col s6 m4"><div class="white_box hoverable"><div class="content">The Bible</div></div></div>
      </a>
      <a href="#modal_faith_trinity" class="statement_btn modal-trigger">
        <div class="col s6 m4"><div class="white_box hoverable"><div class="content">The Triune God</div></div></div>
      </a>
      <a href="#modal_faith_assurance" class="statement_btn modal-trigger">
        <div class="col s6 m4"><div class="white_box hoverable"><div class="content">The Local Church</div></div></div>
      </a>
      <a href="<%=declaration_of_faith_welcome_index_path%>" class="statement_btn modal-trigger">
        <div class="col s6 m12"><div class="white_box hoverable more"><div class="content">More...</div></div></div>
      </a>
    </div>
  </div>
</div>

<div class="decoration_stripe"></div>
<div class="container">
  <div class="section">
    <div class="row" id="contact_us" style="margin: 0">
      <div class="col s7 m4">
        <i class="large material-icons brown-text" style="display: block; text-align: center">chat</i>
        <h2 style="text-align: center">Contact Us</h2>
      </div>
      <div class="col s5 m7 offset-m1">
        <h5 style="padding-top: 30px; color: #353535">We'd love to hear from you! Let us know your thoughts as we gear up for launch this Summer!</h5>
      </div>
    </div>
  </div>
</div>
<div class="decoration_stripe"></div>

<div class="parallax-container mission_statement" style="position: relative; height: auto">
  <div class="section">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <!--<h1 class="title center-align" style="text-shadow: 0 0 2px #353535">Our Mission</h1>-->
          </div>
        </div>
        <div class="row">
          <div class="col hide-on-small-only m2 l2">
            <i class="material-icons crcc-black-text flip" style="font-size: 9em">format_quote</i>
          </div>
          <div class="col s12 m10 l10">
            <div class="crcc-black-text text-lighten-4">
              <h3 style="position: relative; top: 35px; text-shadow: 0 0 10px #aaa, 0 0 1px #fff">
                Making Much Of Jesus - The clear objective to fight for our community in the name of Jesus Christ.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row center">
      <div class="col s12">
        <a href="https://www.facebook.com/VisitCRCC" target="_blank"><%= image_tag "facebook.svg", size: "50x50", class: "social social_square" %></a>
        <a href="https://twitter.com/visitcrcc" target="_blank"><%= image_tag "twitter.svg", size: "50x50", class: "social social_circle" %></a>
        <a href="https://www.instagram.com/visitcrcc/" target="_blank"><%= image_tag "instagram.svg", size: "50x50", class: "social social_square" %></a>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("mountain_geometric.jpg", alt: "Mountain") %></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.crcc_main_slider').slick({
      autoplay: true,
      autoplaySpeed: 4500,
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      fade: true,
      cssEase: 'linear',
      pauseOnHover: true
    });

    $('.statement_btn').on("click", function(){
      var id = $(this).attr("href").substring(1);
      var examine_text = ($('#'+id+ " p:first").contents().text());

//      $('#'+id+" .modal-content h4 div.progress").append("<div class='indeterminate' style='color: blue'></div>"); //Begin preloader

//      get_scripture_links(id, examine_text);
    });

    function get_scripture_links(id, examine_text){
      $.ajax({
        method: 'get',
        url: 'https://api.biblia.com/v1/bible/tag',
        data: {text: examine_text, key: "<%= j(@biblia_key) %>"},
        dataType: 'html'
      })
      .done(function( msg ) {
        var response = jQuery.parseJSON(msg).text;
        $('#'+id+ " p:first").html(response);

        get_verse_from_link(id);
      });
    }

    function get_verse_from_link(id){
      var link_content = $('#'+id+ " p:first a");
      var link_count = link_content.length;

      link_content.each(function(index){
        var link = $(this);
        const verse = link.attr("href").match(/[^\/]*$/).toString();
        $.ajax({
          method: 'get',
          url: 'https://api.biblia.com/v1/bible/content/LEB.txt',
          data: {passage: verse, key: "<%= j(@biblia_key) %>"},
          dataType: 'text'
        })
        .done(function( msg ) {
          link.addClass("tooltipped").attr({
            "data-position": "bottom",
            "data-tooltip": "\"" + msg + "\" (LEB)"
          });
          $('.tooltipped').tooltip({delay: 50});

          link_count -= 1;
          if (link_count < 1){
            $("div.progress").empty(); //End preloader
          }
        });
      });
    }
  });
</script>