<%= render partial: "modals" %>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center crcc-black-text" style="font-family: 'Sansita One', cursive;">Castle Rock Community Church</h1>
      <div class="row center">
        <h5 class="header col s12 light crcc-brown-text"></h5>
      </div>
      <br><br>
      <div class="row center">
        <a href="#modal_learn_more" id="learn_more_button" class="btn-large waves-effect waves-light modal-trigger" style="background-color: #78B5CA">Learn More</a>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("sunrise.png", alt: "Sunrise") %>
  </div>
</div>

<div class="section service_time_strip">
  Sundays TBD:00 AM | Location Address TBD &bull; Castle Rock, CO 80108
</div>

<div class="section">
  <div class="box_wrapper">
    <div class="row">
      <div class="col s12 center">
        <div class="crcc_main_slider">
          <div class="slider_content dark_bg">New ministry initiative<br>Info session starts ...</div>
          <div class="slider_content light_bg">Community Picnic Event<br>Register your ...</div>
          <div class="slider_content dark_bg">City Serve Youth Mission<br>Signup ends Friday ...</div>
          <div class="slider_content light_bg">Authentic Faith Conference<br>Jan 6th ...</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m3">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">stars</i></h2>
          <h5 class="center">New Here?</h5>

          <p class="light">We encourage you to come as you are, nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">event</i></h2>
          <h5 class="center">Upcoming Events</h5>

          <p class="light">Stay tuned for our inaugural scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">group</i></h2>
          <h5 class="center">Get involved</h5>

          <p class="light">Opportunities to demonstrate the heart of Christ are ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">card_giftcard</i></h2>
          <h5 class="center">Give</h5>

          <p class="light">There are lots of ways to give, consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="section statement_of_faith">
  <div class="container">
    <h1 class="header center crcc-black-text">Statement of Faith</h1>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <a href="#modal_faith_scriptures" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Scriptures</div></div></div>
      </a>
      <a href="#modal_faith_origins" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Origins</div></div></div>
      </a>
      <a href="#modal_faith_trinity" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Trinity</div></div></div>
      </a>
      <a href="#modal_faith_god_the_father" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">God The Father</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_god_the_son" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">God The Son</div></div></div>
      </a>
      <a href="#modal_faith_god_the_spirit" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">God The Holy Spirit</div></div></div>
      </a>
      <a href="#modal_faith_sinful_man" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Sinful Man</div></div></div>
      </a>
      <a href="#modal_faith_salvation" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Salvation</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_sanctification" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Sanctification</div></div></div>
      </a>
      <a href="#modal_faith_assurance" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Assurance</div></div></div>
      </a>
      <a href="#modal_faith_church" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Church</div></div></div>
      </a>
      <a href="#modal_faith_marriage" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Sanctity of Marriage</div></div></div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="medium material-icons brown-text">chat</i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">We'd love to hear from you! But because we currently don't have much else to say, please enjoy this filler text; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" style="background-color: rgba(245,245,245,.4)">Hands on application of the biblical command to love one another.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("mountain_geometric.jpg", alt: "Mountain") %></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.crcc_main_slider').slick({
      autoplay: true,
      autoplaySpeed: 2500,
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      fade: true,
      cssEase: 'linear',
      pauseOnHover: true
    });

    $('.statement_btn').on("click", function(){
      var id = $(this).attr("href").substring(1);
      var examine_text = ($('#'+id+ " p:first").contents().text());

      get_scripture_links(id, examine_text);
    });

    function get_scripture_links(id, examine_text){
      $.ajax({
        method: 'get',
        url: 'https://api.biblia.com/v1/bible/tag',
        data: {text: examine_text, key: "<%= j(@biblia_key) %>"},
        dataType: 'text'
      })
      .done(function( msg ) {
        var response = jQuery.parseJSON(msg).text;
        $('#'+id+ " p:first").html(response);

        get_verse_from_link(id);
      });
    }

    function get_verse_from_link(id){
      $('#'+id+ " p:first a").each(function(){
        var link = $(this);
        const verse = link.attr("href").match(/[^\/]*$/).toString();
        $.ajax({
          method: 'get',
          url: 'https://api.biblia.com/v1/bible/content/LEB.txt',
          data: {passage: verse, key: "<%= j(@biblia_key) %>"},
          dataType: 'text'
        })
        .done(function( msg ) {
          link.addClass("tooltipped").attr({
            "data-position": "bottom",
            "data-tooltip": "\"" + msg + "\" (LEB)"
          });
          $('.tooltipped').tooltip({delay: 50});
        });
      });
    }
  });
</script>