<%= render partial: "modals/all" %>

<div class="container">
  <br>
  <h3 class="center-align">Serve</h3>
  <br>

  <div class="row">
    <p style="text-align: center; font-size: 20px">
      Opportunities to demonstrate the heart of Christ are ever growing in our church community.
      We encourage you to explore where your gifts and talents can be uniquely used in one of
      our ministries to bring honor to Jesus Christ. Click on a ministry below to learn more
      about current service opportunities.
    </p>
  </div>

  <div class="row">
    <a href="/ministries/life_groups">
      <div class="col s12 m6 l4 offset-l2"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/life_group_ministry_logo.png", class: "ministry-grid") %></div></div>
    </a>
    <a href="/ministries/mens">
      <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/mens_ministry_logo.png", class: "ministry-grid") %></div></div>
    </a>
  </div>
  <div class="row">
    <a href="/ministries/womens">
      <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/womens_ministry_logo.png", class: "ministry-grid") %></div></div>
    </a>
    <a href="/ministries/youth">
      <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/youth_ministry_logo.png", class: "ministry-grid") %></div></div>
    </a>
    <a href="/ministries/childrens_serve">
      <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/childrens_ministry_logo.png", class: "ministry-grid") %></div></div>
    </a>
  </div>
  <div class="row">
    <a href="/ministries/worship_arts">
      <div class="col s12 m6 l4 offset-l2"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/worship_arts_ministry_logo.png", class: "ministry-grid") %></div></div>
    </a>
    <a href="/ministries/missions">
      <div class="col s12 m6 l4"><div class="white_box hoverable grid_space"><%= image_tag("ministry_logos/missions_ministry_logo.png", class: "ministry-grid") %></div></div>
    </a>
  </div>

</div>
