<%= render partial: "modals" %>

<div class="container">
  <div class="section">
    <h3>Staff</h3>
    <ul class="collection">
      <li class="collection-item avatar large">
        <%= image_tag 'avatars-material-man-3.png', class: "circle responsive-img", style: "background-color: #78B5CA" %>
        <span class="title">Lead Pastor</span>
        <p>Adam Avery <br>
          aavery@example.com
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <%= image_tag 'avatars-material-woman-3.png', class: "circle responsive-img", style: "background-color: #F68F1A" %>
        <span class="title">Director of Childrens Ministry</span>
        <p>Betty Brabel <br>
          bbrabel@example.com
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <%= image_tag 'avatars-material-man-5.png', class: "circle responsive-img", style: "background-color: #9ba7b1" %>
        <span class="title">Lead Worship Pastor</span>
        <p>Calvin Cline <br>
          ccline@example.com
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <%= image_tag 'avatars-material-woman-4.png', class: "circle responsive-img", style: "background-color: #78B5CA" %>
        <span class="title">Director of Outreach Ministries</span>
        <p>Deborah Dermitt <br>
          ddermitt@example.com
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <%= image_tag 'avatars-material-man-4.png', class: "circle responsive-img", style: "background-color: #6B6054" %>
        <span class="title">Elder</span>
        <p>Frank Foley <br>
          ffoley@example.com
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
  </div>
</div>
