<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <div class="center-align"><%= image_tag("ministry_logos/mens_ministry_logo.png", class: "ministry-logo") %></div>


    <div id="wysihtml-toolbar" style="display: none;">
      <%= render partial: "shared/wysihtml_toolbar" %>
    </div>

    <form>
      <textarea id="wysihtml-textarea" placeholder="Enter your text ..." autofocus></textarea>
    </form>


    <p>
      Proverbs 11:14 (ESV) – “Where there is no guidance, a people falls, but
      in an abundance of counselors there is safety.”
    </p><br>

    <p>
      Proverbs 24:5-6 (NLT) – “The wise are mightier than the strong, and those
      with knowledge grow stronger and stronger. So don’t go to war without wise
      guidance; victory depends on having many advisers.”
    </p><br>fdsa

    <p>
      <b>When We Meet:</b>
      <br>
      Join us weekly on Saturday mornings from 7:30am – 8:30am at Panera Restaurant off of Allen St.<br>
      in Castle Rock. Contact <%= mail_to @lead_pastor.email, @lead_pastor.full_name, subject: "Men's Ministry" %>
      for more information.
    </p>
    <br>

    <p>
      <b>What We Value:</b>
      <br>
      We believe in the importance of men living out life with other men. We become
      stronger, more faithful, and can stand in the gap for our families and community
      more effectively when devoted to Christ together.
    </p>
    <br>

    <p>
      Our Men’s Ministry is focused on spending intentional, focused time together in
      God’s Word. We openly discuss the Word as we read it, applying it to real life
      situations and examples from those in our midst.
    </p>
    <br>

  </div>
</div>

<script type="text/javascript">
  var editor = new wysihtml5.Editor("wysihtml-textarea", { // id of textarea element
    toolbar:      "wysihtml-toolbar", // id of toolbar element
    parserRules:  wysihtml5ParserRules, // defined in parser rules set
    stylesheets: ["<%= j( asset_path("application.css") ) %>"]
  });
</script>
