<div id="modal_edit_user" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">

      <% if @user && current_user.id != @user.id %>
        <% selected_user = @user %>
        <h2>Edit <%= @user.first_name.capitalize %></h2>
      <% else %>
        <% selected_user = current_user %>
        <h2>About Me</h2>
      <% end %>
      <br>

      <%= form_for(selected_user, url: "/users/#{selected_user.id}", html: { method: :put }, remote: true) do |f| %>
        <%= devise_error_messages! %>

        <div id="avatar_preview" class="row">
          <div class="col s4">
            <%= render partial: "modals/avatar_img", locals: { src: get_avatar(selected_user), size: '200', avatar_background: selected_user.avatar.background_color } %>
            <div class="background_swatches">
              <%= label_tag :background %>
              <br>
              <div id="swatch-default" class="swatch" data-selected="false" data-color="#78B5CA"></div>
              <div id="swatch-orange" class="swatch" data-selected="false" data-color="#FF5D00"></div>
              <div id="swatch-brown" class="swatch" data-selected="false" data-color="#6B6054"></div>
              <div id="swatch-blue" class="swatch" data-selected="false" data-color="#8AB0AB"></div>
              <div id="swatch-navy" class="swatch" data-selected="false" data-color="#3E505B"></div>
              <div id="swatch-black" class="swatch" data-selected="false" data-color="#353535"></div>
            </div>
            <br>
          </div>
          <div class="col s3">
            <%= f.fields_for :avatar do |n| %>
              <%= n.label :style %>
              <%= n.select :face, all_avatar_faces, {}, { class: "avatar_options" } %>
              <%= n.label :hair %>
              <%= n.select :hair, [['Light','hair-blonde'],['Medium','hair-brown'], ['Dark','hair-black']], {}, { class: "avatar_options" } %>
              <%= n.label :eyes %>
              <%= n.select :eyes, [['Light','eyes-blue-green'],['Medium','eyes-brown'], ['Dark','eyes-dark']], {}, { class: "avatar_options" } %>
              <%= n.label :skin %>
              <%= n.select :skin, [['Light','skin-light'],['Tan','skin-tanned'],['Dark','skin-dark']], {}, { class: "avatar_options" } %>
            <% end %>
          </div>
          <div class="col s5">
            <div class="field">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, autofocus: true %>
            </div>
          </div>
        </div>

        <% if can? :manage, :all %>
          <div class="row">
            <div class="valign-wrapper">
              <div class="col s6">
                <div class="field">
                  <%= f.label :role_description %><br />
                  <%= f.text_field :role_description %>
                </div>
              </div>
              <div class="col s6 valign">
                <%= f.check_box(:staff) %>
                <%= f.label(:staff, "Staff") %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col s4">
            <%= f.radio_button :gender, "male", disabled: "disabled" %>
            <%= f.label :gender_male, "I'm a Guy" %>
            <br>
            <%= f.radio_button :gender, "female", disabled: "disabled" %>
            <%= f.label :gender_female, "I'm a Girl" %>
          </div>

          <div class="col s8">
            <%= f.check_box(:send_emails) %>
            <%= f.label(:send_emails, "Inform me on important happenings, notifications and such.") %>
          </div>
        </div>

        <div class="row">
          <div class="col s4">
            <%= content_tag :button, type: :submit, id: "update_submit", class: "btn waves-effect waves-light" do %>
              Submit
              <i class="material-icons right">send</i>
            <% end %>
          </div>
        </div>

      <% end %>

      <!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
  </div>
</div>

<script type="text/javascript">
  $('.swatch').click(function(){
    $(this).attr("data-selected", "true");
    $(this).siblings().each(function() {
      $(this).attr("data-selected", "");
    });
    gather_selections();
  });

  $('.avatar_options').on("change", function(){
    gather_selections();
  });

  function gather_selections(){
    const current_bg = $(".swatch[data-selected='true']");

    var face = $('.avatar_options#user_avatar_attributes_face option:selected').attr("value");
    var hair = $('.avatar_options#user_avatar_attributes_hair option:selected').attr("value");
    var eyes = $('.avatar_options#user_avatar_attributes_eyes option:selected').attr("value");
    var skin = $('.avatar_options#user_avatar_attributes_skin option:selected').attr("value");
    var background_color = current_bg.attr("data-color");

    update_avatar(face, hair, eyes, skin, background_color)
  }

  function update_avatar(face, hair, eyes, skin, bg){
    $.ajax({
      url: "<%= j(update_avatar_user_path(selected_user.id, format: "js")) %>",
      type: "put",
      data: { face: face, hair: hair, eyes: eyes, skin : skin, bg : bg },
      dataType: 'script',
      complete: function(){}
    });
  }
</script>