<div id="modal_edit_user" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">

      <% if @user && current_user.id != @user.id %>
        <% selected_user = @user %>
        <h2>Edit <%= @user.first_name.capitalize %></h2>
      <% else %>
        <% selected_user = current_user %>
        <h2>About Me</h2>
      <% end %>
      <br>

      <%= form_for(selected_user, url: "/users/#{selected_user.id}", html: { method: :put }, remote: true) do |f| %>
        <%= devise_error_messages! %>

        <div id="avatar_preview" class="row">
          <div class="col s4">
            <%= render partial: "modals/avatar_img", locals: { src: get_avatar(selected_user), size: '200', avatar_background: selected_user.avatar.background_color } %>
          </div>
          <div class="col s3">
            <%= f.fields_for :avatar do |n| %>
              <%= n.label :style %>
              <%= n.select :face, all_avatar_faces, {}, { class: "avatar_options" } %>
              <br>
              <%= n.label :hair %>
              <%= n.select :hair, [['Light','hair-blonde'],['Medium','hair-brown'], ['Dark','hair-black']], {}, { class: "avatar_options" } %>
              <br>
              <%= n.label :eyes %>
              <%= n.select :eyes, [['Light','eyes-blue-green'],['Medium','eyes-brown'], ['Dark','eyes-dark']], {}, { class: "avatar_options" } %>
              <br>
              <%= n.label :skin %>
              <%= n.select :skin, [['Light','skin-light'],['Tan','skin-tanned'],['Dark','skin-dark']], {}, { class: "avatar_options" } %>
            <% end %>
          </div>
          <div class="col s5">
            <div class="field">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, autofocus: true %>
            </div>
            <br>
            <div class="field">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, autofocus: true %>
            </div>
          </div>
        </div>

        <% if can? :manage, :all %>
          <div class="row">
            <div class="valign-wrapper">
              <div class="col s6">
                <div class="field">
                  <%= f.label :role_description %><br />
                  <%= f.text_field :role_description %>
                </div>
              </div>
              <div class="col s6 valign">
                <%= f.check_box(:staff) %>
                <%= f.label(:staff, "Staff") %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col s6">
            <%= f.radio_button :gender, "male", disabled: "disabled" %>
            <%= f.label :gender_male, "I'm a Guy" %>
            <br>
            <%= f.radio_button :gender, "female", disabled: "disabled" %>
            <%= f.label :gender_female, "I'm a Girl" %>
          </div>

          <div class="col s6">
            <%= f.check_box(:send_emails) %>
            <%= f.label(:send_emails, "Inform me on important happenings, notifications and such.") %>
          </div>
        </div>

        <div class="row">
          <div class="col s4">
            <br>
            <%= content_tag :button, type: :submit, id: "update_submit", class: "btn waves-effect waves-light" do %>
              Submit
              <i class="material-icons right">send</i>
            <% end %>
          </div>
        </div>

      <% end %>

      <!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
  </div>
</div>

<script type="text/javascript">
  $('.avatar_options').on("change", function(){
    var face = $('.avatar_options#user_avatar_attributes_face option:selected').attr("value");
    var hair = $('.avatar_options#user_avatar_attributes_hair option:selected').attr("value");
    var eyes = $('.avatar_options#user_avatar_attributes_eyes option:selected').attr("value");
    var skin = $('.avatar_options#user_avatar_attributes_skin option:selected').attr("value");

//    $('#avatar_img').animate({
//      opacity:.5
//    }, 500, "linear");

//    $('#avatar_img').attr('src', 'hair-black' + '-' + 'eyes-blue-green' + '-' + skin + '.png');
//    $('#avatar_img').attr('src', "assets/images/avatars/material/" + "male" + "/" + "Face-1" + "/" + "hair-black" + "-" + "eyes-blue-green" + "-" + skin + ".png");

    $.ajax({
      url: "<%= j(update_avatar_user_path(selected_user.id, format: "js")) %>",
      type: "put",
      data: { face: face, hair: hair, eyes: eyes, skin : skin },
      dataType: 'script',
      complete: function(){
//        alert("DONE");
      }
    });
  })
</script>