<div id="modal_edit_user" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">

      <% if @user && current_user.id != @user.id %>
        <% selected_user = @user %>
        <h2>Edit <%= @user.first_name.capitalize %></h2>
      <% else %>
        <% selected_user = current_user %>
        <h2>About Me</h2>
      <% end %>
      <br>

      <%= form_for(selected_user, url: "/users/#{selected_user.id}", html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="col s4">
            <%= image_tag get_avatar(current_user), size: "200x200", class: "circle responsive-img", style: "background-color: #{current_user.avatar.background_color}" %>
          </div>
          <div class="col s2">
            stuff<br>
            stuff
          </div>
          <div class="col s6">
            <div class="field">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, autofocus: true %>
            </div>
            <br>
            <div class="field">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, autofocus: true %>
            </div>
          </div>
        </div>

        <% if can? :manage, :all %>
          <div class="row">
            <div class="valign-wrapper">
              <div class="col s6">
                <div class="field">
                  <%= f.label :role_description %><br />
                  <%= f.text_field :role_description %>
                </div>
              </div>
              <div class="col s6 valign">
                <%= f.check_box(:staff) %>
                <%= f.label(:staff, "Staff") %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col s6">
            <%= f.radio_button :gender, "male" %>
            <%= f.label :gender_male, "I'm a Guy" %>
            <br>
            <%= f.radio_button :gender, "female" %>
            <%= f.label :gender_female, "I'm a Girl" %>
          </div>

          <div class="col s6">
            <%= f.check_box(:send_emails) %>
            <%= f.label(:send_emails, "Inform me on important happenings, notifications and such.") %>
          </div>
        </div>

        <div class="row">
          <div class="col s4">
            <br>
            <%= content_tag :button, type: :submit, id: "update_submit", class: "btn waves-effect waves-light" do %>
              Submit
              <i class="material-icons right">send</i>
            <% end %>
          </div>
        </div>

      <% end %>

      <!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
  </div>
</div>