<div id="new_life_group" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">
      <h4>New Life Group</h4>

      <%= form_for(LifeGroup.new, url: "/life_groups", html: { method: :post }, remote: true) do |f| %>
        <div class="row">
          <div class="valign-wrapper">
            <div class="input-field col s6">
              <%= f.text_field :name, placeholder: "#{current_user.last_name} Life Group" %>
              <%= f.label :name %>
            </div>
            <div class="input-field col s6 valign">
              <% options = [['Choose demographic'],['Singles',true],['Couples (Unmarried)',true], ['Marrieds',true],['with Kids',true]] %>
              <%= f.select(:demographic, options, {disabled: ['Choose demographic'], selected: ['Choose demographic']}, {multiple: true}) %>
              <%= f.label :demographic, 'Demographic' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="valign-wrapper">
            <div class="input-field col s6 valign">
              <%= f.text_field :date, placeholder: "Tuesdays" %>
              <%= f.label :day %>
            </div>
            <div class="input-field col s6 ">
              <%= f.text_field :location, placeholder: "1234 Nearby Ave. Castle Rock, CO 80104" %>
              <%= f.label :location %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="valign-wrapper">
            <div class="input-field col s6">
              <%= f.text_field :start_time, placeholder: "6:30pm" %>
              <%= f.label :start_time %>
            </div>
            <div class="input-field col s6 valign">
              <%= f.text_field :end_time, placeholder: "8:30pm" %>
              <%= f.label :end_time %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            Preview:
            <p>
              <div id="life_group_preview">
                <div class="name" style="font-weight: bold"></div>
                <span class="demographic"></span> <span class="date"></span>
                <div class="location"></div>
                <span class="start_time"></span> <span id="life_group_hyphen" style="visibility: hidden">-</span> <span class="end_time"></span>
              </div>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col s4">
            <%= content_tag :button, type: :submit, id: "update_submit", class: "btn waves-effect waves-light" do %>
              Submit
              <i class="material-icons right">send</i>
            <% end %>
          </div>
        </div>

      <% end %>

    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
  </div>
</div>

<script>
  var new_text;
  var text_array = [];

  $('select').material_select();

  // Update preview on keypress
  $('.input-field').on('keyup change', function(){
    var changed_element = $(this).children(":first");
    if (changed_element.attr('name').indexOf("demographic") >= 0) {
      // Ignore demographic dropdown
    } else {
      var identifier = changed_element.attr('name').replace("life_group[", "").slice(0,-1);
    }
    var new_text = changed_element.val();

    updatePreview(identifier, new_text);
    toggleTimeHyphen(identifier, new_text);
  });

  // Update preview on checkbox select
  $('.select-wrapper label').on('click change', function(){
    var child = $(this).closest('span');
    var child_text = child.text();

    if (child_text == ''){ return; }

//    if (text_array.indexOf(child_text) > -1){
//      // Remove from array
//    } else {
      text_array.push(child_text + ", "); // Add to array
//    }

    // Add smart commas
    var length = text_array.length;
    for (var i = 0; i < length; i++) {
      if (i == (length - 1)){
        text_array[i] = text_array[i].slice(0,-2);
      }
    }
    text_string = text_array.join();

    $('span.demographic').text(text_string);
  });


  function updatePreview(identifier, new_text){
    $('#life_group_preview' + ' .' + identifier).text(new_text); //Update preview
  }

  function toggleTimeHyphen(identifier, new_text){
    if (identifier == 'start_time' && new_text != ''){
      $('#life_group_hyphen').css("visibility", "visible")
    } else if (identifier == 'start_time' && new_text == ''){
      $('#life_group_hyphen').css("visibility", "hidden")
    }
  }

</script>