$('#life_group_groups_wrapper .group_list').html("\
  <% if life_groups.present? %>\
    <ul class='collection'>\
      <% life_groups.each do |g| %>\
        <li class='collection-item avatar'>\
          <div class='row' style='margin-bottom:0'>\
            <div class='col s6'>\
              <b><%= g.name %></b>\
              <p>\
                <%= g.life_group_demographic.attributes.reject{|k,v| v != true}.keys.map{|k| k.capitalize}.each{|k| k.gsub!(/_/, ' ') if k.include?('_')}.join(', ') %> <br>\
                <%= g.day %> <br>\
                <%= g.location %> <br>\
                <%= g.start_time %> - <%= g.end_time %>\
              </p>\
              <div class='secondary-content' style='display:block; clear:both'>\
              <% if current_user && current_user.group_lead?(g) %>\
                <a href='#!'><i class='material-icons'>mode_edit</i></a>\
              <% end %>\
              </div>\
            </div>\
            <div class='col s5'>\
              Contact: <br>\
              <div class='valign-wrapper' style='position:relative; top:-10px'>\
                <i class='small material-icons whisper valign'>email</i><span class='valign' style='margin-left:5px'><%= g.group_lead.email %></span><br><br>\
              </div>\
              <% if g.notes.present? %>\
                <u>Additional Notes</u> <br>\
                <%= g.notes %>\
              <% end %>\
            </div>\
          </div>\
        </li>\
      <% end %>\
    </ul>\
  <% end %>\
");

$('#add_life_group_fab').css({visibility: "visible"});