$('#life_group_groups_wrapper .group_list').html("\
  <% if life_groups.present? %>\
    <ul class='collection'>\
      <% life_groups.each do |l| %>\
        <li class='collection-item avatar'>\
          <%= l.name %>\
          <p>\
          <%= l.life_group_demographics %> <br>\
          <%= l.day %> <br>\
          <%= l.location %> <br>\
          <%= l.start_time %> - <%= l.end_time %>\
          </p>\
          <a href='#!' class='secondary-content'><i class='material-icons'>grade</i></a>\
        </li>\
      <% end %>\
    </ul>\
  <% end %>\
");

$('#add_life_group_fab').css({visibility: "visible"});