$('#life_group_groups_wrapper .group_list').html("\
  <% if life_groups.present? %>\
    <ul class='collection'>\
      <% life_groups.each do |l| %>\
        <li class='collection-item avatar'>\
          <b><%= l.name %></b>\
          <p>\
          <%= l.life_group_demographic.attributes.reject{|k,v| v != true}.keys.map{|k| k.capitalize}.each{|k| k.gsub!(/_/, ' ') if k.include?('_')}.join(', ') %> <br>\
          <%= l.day %> <br>\
          <%= l.location %> <br>\
          <%= l.start_time %> - <%= l.end_time %>\
          </p>\
          <a href='#!' class='secondary-content'><i class='material-icons'>grade</i></a>\
        </li>\
      <% end %>\
    </ul>\
  <% end %>\
");

$('#add_life_group_fab').css({visibility: "visible"});